/*
AUTHOR: Josh Campbell
CREATE DATE: 31/08/17
PURPOSE: Stylesheet for Stan Coding Challenge.
*/

p, h1, a {
	font-family: Verdana, Helvetica, "sans-serif";
	color: white;
	padding: 10px;
}

footer {
	border-radius: 5px;
	padding: 15px 30px 20px;
	background-color: #151515;
	text-align: center;
	max-width: 100%;
}

img {
	max-width: 100%;
}

.site-wrapper {
	max-width: 100%;
	margin: auto;
	text-align: left;
	background: linear-gradient(to top, #ADD8E6, white);
}

.site-banner {
	border-radius: 5px;
	width: 100%;
	height: 50px;
	background: #0271FF;
}

.trial-button {
	float: right;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 5px;
	margin: 10px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-decoration:none;
	display: inline-block;
	background: #1E90FF;
	color: white;
}

.showSlide {  
    display: none  
}  

.showSlide img {  
    width: 100%;  
}  

.slidercontainer {  
	min-height: 400px;
    max-width: 1000px;  
    position: relative;  
    margin: auto;  
}  

#left, #right {  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    border-radius: 50px;  
    background: #1E50FF;
}  

#right {  
    right: 0;  
    border-radius: 50px;  
}  

.left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
}  

.active {  
    background-color: #717171;  
}  

/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
} 

@-webkit-keyframes fade {  
    from {opacity: .4}to {opacity: 1}  
}  

@keyframes fade {  
    from {opacity: .4}to {opacity: 1}  
} 

.main-text-container {
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
	line-height: 1;
	max-width: 1000px;
}

.paragraph {
	background: linear-gradient(to top, #000080, #1E50FF);
	border-radius: 15px;
}

.footer-text  {
	opacity: 0.7;
	color: white;
}

.apple-footer-store, .android-footer-store {
	vertical-align: middle;
	margin: 20px;
	height: auto;
	width: 200px;
	align-items: center;
}

.android-footer-store{
	height: auto;
	width: 240px;
}